<ion-content>
  <div class="flex-container">
    <div class="content-container">
      <div class="form-container">
        <form [formGroup] = "formGroup" (ngSubmit)="login(formGroup.value)">
          <h1>
            Login
          </h1>
          <br>
          <br>
          <span class="subtitle">USERNAME:</span>
          <br>
          <input type="text" name="username" formControlName = "username"> 
          <br>
          <span class="subtitle">PASSWORD:</span>
          <br>
          <input type="password" name="password" formControlName = "password">
          <br><br>
          <input type="submit" value="SUBMIT" class="submit-btn">
        </form>
      </div>
    </div>
  </div>
</ion-content>
